a2a-sdk>=0.3.0
click>=8.1.8
google-adk>=1.8.0
google-genai>=1.27.0
python-dotenv>=1.1.0
litellm
jsonschema>=4.0.0

openai==1.98.0
langchainhub==0.1.21
langchain==0.3.27
langchain-community==0.3.27
langchain-openai==0.3.28
